In [96]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt 
import numpy as np

data = pd.read_excel('all-us-hurricanes-noaa.xls')
data.dtypes

Year                                      object
Month                                     object
States Affected and Category by States    object
Highest                                   object
Central Pressure                          object
Max Wind                                  object
Name                                      object
dtype: object

In [97]:
data.columns =['Year', 'Month', 'States', 'Category', 
             'Pressure', 'Max Wind', 'Name']

In [98]:
data = data.replace('Sp-Oc','Sep') #replace two multi-month rows
data = data.replace('Jl-Au','Jul') #replace two multi-month rows

In [100]:
data = data.dropna(axis = 0, how ='any', thresh = None, subset = None, inplace=False) #drop all rows with NAN values

In [101]:
data = data.astype({'Year': 'int'}) 
data = data.replace('-----',np.NaN)
data = data.astype({'Max Wind': 'float'})

In [102]:
data.Month = pd.to_datetime(data.Month, format='%b').dt.month

In [103]:
data = data.dropna(axis = 0, how ='any', thresh = None, subset = None, inplace=False) #drop all rows with NAN values